.App {
  text-align: center;
}

input{
  margin: 20px;
  height: 30px;
  width: 50%;
}

button{
height: 35px;
border: none;
background-color: black;
color: aliceblue;
font-weight: bold;
border-radius: 10px;
}

.tasklist{
  width: 40%;
  margin: 10px 20px;
  display: flex;
  padding: 10px;
  justify-content:space-between;
  font-weight: 900;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 10px;
}



